.vLine {
	border-left: solid 1px #d5d5d5;
	margin-left: 1.9rem;
	padding-left: 1.6rem;
	list-style: none;
}

.btnplus {
    margin-left: $padding-large;
}

.nodeView {
}

.nodeName {
	cursor: pointer;
	// remove button styles
	background: none;
	border: none;
}

.labelReadOnly {
	padding: 1px 7px 2px; // same as button
}
