// DatasetList styles
.container {
    display: flex;
    > * {
        flex: 1;
    }
}

#add-new-dataset {
    margin-bottom: $padding-normal;
}

.li :global(.btn){
    text-transform: initial;
}

.column {
    padding: 0 $padding-normal;
    border-left: 1px solid #c6c6c6;
    height: calc(100vh - 48px);
    &:first-child {
        border-left: none;
    }
}
