package {{packageName}}.client;

{{#importList}}

import java.util.List;

{{/importList}}
import javax.json.JsonObject;

import org.talend.sdk.component.api.service.http.HttpClient;
{{#importAPI}}
{{#value}}
import {{value}};
{{/value}}
{{/importAPI}}
import org.talend.sdk.component.api.service.http.Request;
import org.talend.sdk.component.api.service.http.Response;

public interface APIClient extends HttpClient {
    {{#operations}}

    @Request(method = "{{value.verb}}", path = "{{value.path}}")
    Response<{{responsePayloadType}}> {{value.name}}({{#value.parameters}}{{value.javaMarker}}{{value.javaType}} {{value.name}}{{^last}}, {{/last}}{{/value.parameters}});
    {{/operations}}
}
