package {{packageName}}.source;

import java.io.Serializable;

import org.talend.sdk.component.api.configuration.Option;
import org.talend.sdk.component.api.configuration.ui.OptionsOrder;
import org.talend.sdk.component.api.meta.Documentation;

import {{packageName}}.configuration.Dataset;

@Documentation("Config.")
@OptionsOrder("dataset")
public class Configuration implements Serializable {
    @Option
    @Documentation("The API dataset.")
    private Dataset dataset;

    public Dataset getDataset() {
        return dataset;
    }

    public void setDataset(Dataset dataset){
        this.dataset = dataset;
    }

}
