package {{packageName}}.source;

import java.io.Serializable;

import javax.json.JsonObject;
import javax.annotation.PostConstruct;

import org.talend.sdk.component.api.component.Icon;
import org.talend.sdk.component.api.component.Version;
import org.talend.sdk.component.api.configuration.Option;
import org.talend.sdk.component.api.input.Emitter;
import org.talend.sdk.component.api.input.Producer;
import org.talend.sdk.component.api.meta.Documentation;
import org.talend.sdk.component.api.record.Record;

import {{packageName}}.configuration.Dataset;
import {{packageName}}.source.Configuration;
import {{packageName}}.service.UIService;
import {{packageName}}.service.UIService.ReadableResult;


@Version
@Icon(value = Icon.IconType.CUSTOM, custom = "apitester")
@Emitter(name = "Input")
@Documentation("API Tester scenario connector.")
public class Source implements Serializable {

    private final Configuration config;

    private final UIService service;

    private boolean done = false;

    public Source(@Option("configuration") final Configuration config, final UIService service){
        this.config = config;
        this.service = service;
    }

    @PostConstruct
    public void init() {
    }

    @Producer
    public Record next() {
        if(!done){
            final ReadableResult readableResult = service.execScenario(config);
            final Record record = service.buildRecord(readableResult);
            done = true;
            return record;
        }
        return null;
    }

}
