<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="dhc-aware-page" data-indicator-element-id="apiTesterIndicator" />
		<title><%= htmlWebpackPlugin.options.title %></title>

		<style>
			#app {
				max-height: 100vh;
				overflow: hidden;
				display: flex;
				width: 100vw;
			}
			.tc-layout-two-columns {
				height: 100vw;
			}
			html.focus-outline-hidden *:focus {
				outline: none !important;
			}
		</style>
	</head>
	<body>
		<div id="app"><%= htmlWebpackPlugin.options.appLoader %></div>
		<div id="tooltip-root"></div>
		<!-- the portal-root element is for attaching Portal widget children -->
		<div id="portal-root"></div>
	</body>
</html>