@Icon(Icon.IconType.STAR) // todo: use CUSTOM
@Components(family = "{{family}}", categories = "Cloud")
package {{packageName}};

import org.talend.sdk.component.api.component.Components;
import org.talend.sdk.component.api.component.Icon;
