<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (C) 2006-2017 Talend Inc. - www.talend.com
   Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.talend.designer.core.process_provider">
    <ProcessProvider pluginId="${project.artifactId}" class="org.talend.sdk.component.studio.TaCoKitGenericProvider"/>
  </extension>
  <extension point="org.eclipse.ui.navigator.navigatorContent">
    <navigatorContent id="${project.groupId}.metadata.connection"
                      activeByDefault="true" priority="higher"
                      appearsBefore="org.talend.repository.viewer.metadata.genericSchemas"
                      contentProvider="org.talend.sdk.component.studio.metadata.MetadataContentProvider"
                      labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
                      name="TaCoKit Connection">
      <triggerPoints>
        <and>
          <instanceof value="org.talend.repository.model.RepositoryNode"/>
          <or>
            <test forcePluginActivation="true" property="org.talend.repository.node.isMetadataTopNode"/>
            <test property="${project.groupId}.node.metadata"/>
          </or>
        </and>
      </triggerPoints>
      <possibleChildren>
        <and>
          <instanceof value="org.talend.repository.model.RepositoryNode"/>
          <or>
            <test property="${project.groupId}.node.metadata"/>
          </or>
        </and>
      </possibleChildren>
      <actionProvider id="org.talend.sdk.component.studio.metadata.NodeActionProvider"
                      class="org.talend.sdk.component.studio.metadata.NodeActionProvider">
        <enablement>
          <and>
            <instanceof value="org.talend.repository.model.RepositoryNode"/>
            <test property="${project.groupId}.node.metadata" forcePluginActivation="true"/>
            <not>
              <test property="org.talend.repository.node.isDeleted" forcePluginActivation="true"/>
            </not>
          </and>
        </enablement>
      </actionProvider>
    </navigatorContent>
  </extension>
  <!-- don't use it since there is already one which is integrated and studio doesnt support composition here
  <extension point="org.talend.core.runtime.service">
    <Service serviceId="IGenericWizardService" class="org.talend.sdk.component.studio.metadata.WizardRegistry" />
  </extension>
  -->
</plugin>
