<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (C) 2006-2018 Talend Inc. - www.talend.com
   Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.components_provider">
      <ComponentsProvider
            class="org.talend.sdk.component.studio.provider.TaCoKitComponentsProvider"
            folderName="components"
            id="org.talend.sdk.component.studio-integration.TaCoKitComponentsProvider">
      </ComponentsProvider>
   </extension>
  <extension
        point="org.talend.core.repository.repository_node_provider">
     <repositoryNode
           alias="TACOKIT"
           folder="metadata/tacokit"
           icon="icon/connection.png"
           isResouce="true"
           key="repository.metadata.TaCoKit"
           label="%TaCoKitConnection"
           ordinal="1"
           parentNodeType="METADATA"
           products="DI"
           type="TACOKIT">
     </repositoryNode>
  </extension>
  <extension
        point="org.talend.core.repository.repository_content">
     <RepositoryContent
           class="org.talend.sdk.component.studio.metadata.handler.TaCoKitRepositoryContentHandler">
     </RepositoryContent>
  </extension>
  <extension
        point="org.talend.core.repository.repository_handler">
     <RepositoryHandler
           class="org.talend.sdk.component.studio.metadata.handler.TaCoKitDragAndDropHandler">
     </RepositoryHandler>
  </extension>
  <extension
        point="org.talend.core.repository.repositorySeeker">
     <seeker
           class="org.talend.sdk.component.studio.metadata.seeker.TaCoKitMetadataRepoViewSeeker"
           name="TaCoKit Repository Seeker">
     </seeker>
  </extension>
  <extension
        point="org.talend.core.repositoryContextualsActions">
     <Action
           class="org.talend.sdk.component.studio.metadata.action.EditTaCoKitConfigurationAction"
           id="org.talend.sdk.component.metadata.action.EditTaCoKitConfigurationAction"
           isEditAction="true"
           isPropertiesAction="false"
           isReadAction="true"
           level="1"
           name="Edit TaCoKit">
     </Action>
  </extension>
  <extension
        point="org.talend.designer.core.generators">
     <generator
           class="org.talend.sdk.component.studio.ui.composite.generator.TaCoKitGuessSchemaGenerator"
           mapping="TACOKIT_GUESS_SCHEMA"
           name="TaCoKit Generator">
     </generator>
     <generator
           class="org.talend.sdk.component.studio.ui.composite.generator.TaCoKitButtonGenerator"
           mapping="TACOKIT_BUTTON"
           name="TaCoKit Button Generator">
     </generator>
  </extension>
  <extension
        point="org.talend.designer.core.process_provider">
     <ProcessProvider
           class="org.talend.sdk.component.studio.TaCoKitGenericProvider"
           pluginId="org.talend.sdk.component.studio-integration">
     </ProcessProvider>
  </extension>
  <extension
        point="org.talend.repository.view.repositorySorter">
     <sorter
           class="org.talend.sdk.component.studio.metadata.sorter.TaCoKitRepositoryNodeSorter"
           id="org.talend.sdk.component.studio-integration.sorter1"
           name="org.talend.sdk.component.studio-integration.sorter1">
     </sorter>
  </extension>
  <extension
        point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
           class="org.talend.sdk.component.studio.metadata.tester.TaCoKitNodeTest"
           id="org.talend.sdk.component.tester.TaCoKitConnectionNodeTester"
           namespace="org.talend.sdk.component.node.metadata"
           properties="isTaCoKitNode"
           type="org.talend.repository.model.RepositoryNode">
     </propertyTester>
  </extension>
  <extension point="org.eclipse.ui.navigator.navigatorContent">
    <navigatorContent
          activeByDefault="true"
          contentProvider="org.talend.sdk.component.studio.metadata.provider.TaCoKitMetadataContentProvider"
          icon="icon/connection.png"
          id="org.talend.repository.viewer.metadata.TaCoKit"
          labelProvider="org.talend.sdk.component.studio.metadata.provider.TaCoKitMetadataLabelProvider"
          name="TaCoKit Connection"
          priority="higher">
       <possibleChildren>
          <and>
             <instanceof
                   value="org.talend.repository.model.RepositoryNode">
             </instanceof>
             <or>
                 <test
                       property="org.talend.sdk.component.node.metadata.isTaCoKitNode">
                 </test>
             </or>
          </and>
       </possibleChildren>
       <triggerPoints>
          <and>
             <instanceof
                   value="org.talend.repository.model.RepositoryNode">
             </instanceof>
             <or>
                 <test
                       forcePluginActivation="true"
                       property="org.talend.repository.node.isMetadataTopNode">
                 </test>
                 <test
                       property="org.talend.sdk.component.node.metadata.isTaCoKitNode">
                 </test>
             </or>
          </and>
       </triggerPoints>
       <actionProvider
             class="org.talend.sdk.component.studio.metadata.provider.NodeActionProvider"
             id="org.talend.sdk.component.studio.metadata.provider.NodeActionProvider">
          <enablement>
             <and>
                <instanceof
                      value="org.talend.repository.model.RepositoryNode">
                </instanceof>
                <or>
                   <test
                         property="org.talend.sdk.component.node.metadata.isTaCoKitNode">
                   </test>
                </or>
                <not>
                   <test
                         property="org.talend.repository.node.isDeleted">
                   </test>
                </not>
             </and>
          </enablement>
       </actionProvider>

    </navigatorContent>
  </extension>
  <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.talend.repository.cnf.view">
         <includes>
            <contentExtension
                  pattern="org.talend.sdk.component.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
  </extension>

  <!-- don't use it since there is already one which is integrated and studio doesnt support composition here
  <extension point="org.talend.core.runtime.service">
    <Service serviceId="IGenericWizardService" class="org.talend.sdk.component.studio.metadata.WizardRegistry" />
  </extension>
  -->
</plugin>
