<div class="navigation-container grey-background col-sm-2"{{#if page.component}} data-component="{{page.component.name}}" data-version="{{page.version}}"{{/if}}>
  <aside class="navigation" role="navigation">
    <div class="panels">
      {{#if page.navigation}}
      <div class="navigation-menu is-active" data-panel="menu">
        <nav class="nav-menu">
          <!-- <label>{{page.component.title}}</label> -->
          {{> navigation-tree navigation=page.navigation level=0}}
        </nav>
      </div>
      {{/if}}
    </div>
  </aside>
</div>
