<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <servers>
    <server>
      <id>clear</id>
      <username>repouser</username>
      <password>repopwd</password>
    </server>
    <server>
      <id>encrypted</id>
      <username>repouser</username>
      <password>{Etqciac9bBAHv+MpVFTW+TvHWf42jVf6gAB68mmXYx4=} the password is 'encrypted'</password>
    </server>
  </servers>
</settings>
