<article class="doc">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-9 row">
      {{#if page.title}}
        <h1>{{{page.title}}}</h1>
      {{/if}}
      <div class="article-content">
        {{{page.contents}}}
      </div>
    </div>
  </div>
</article>
