<footer class="footer">
    <div class="footer-with-copyright footer-with-links">
        <ul class="footer-links" style="">
            <li><a class="gwt-Anchor" href="http://www.talend.com/">Talend</a></li>
            <li><a class="gwt-Anchor" href="http://www.talend.com/contact">Contact</a></li>
            <li><a class="gwt-Anchor" href="http://www.talend.com/legal-terms/us-eula">Talend EULA</a></li>
        </ul>
        <div class="footer-copyright" style="">&copy; 2018 Talend Inc. All rights reserved.</div>
    </div>
</footer>
