<form>
    <div action="search.html">
        <label for="searchInput">
            Search
            <span id="resultCounter" class="badge"></span>
        </label>
        <input class="rounded" type="search" name="q" id="searchInput" placeholder="Search...">
    </div>
</form>
<div id="resultTable" class="table table-striped table-condensed hidden">
</div>

<script type="text/javascript" src="{{uiRootPath}}/js/js-search.min.js"></script>
<script type="text/javascript">
var search = new JsSearch.Search('title');
search.indexStrategy = new JsSearch.AllSubstringsIndexStrategy();
search.addIndex('title');
search.addIndex('content');
{{#passthrough page.contents}}
search.addDocuments({{{this}}});
{{/passthrough}}
var searchInput = document.getElementById('searchInput');
var resultCounter = document.getElementById('resultCounter');
var resultTable = document.getElementById('resultTable');

var addResult = function (parent, result) {
  var linkA = document.createElement('a');
  linkA.href = result.link;
  linkA.innerHTML = result.title;
  var description = document.createElement('p');
  description.innerHTML = result.description;

  var div = document.createElement('div');
  div.appendChild(linkA);
  div.appendChild(description);
  div.classList.add('search-result-container');
  parent.appendChild(div);
};

searchInput.oninput = function () {
    var results = search.search(searchInput.value);

    resultCounter.innerText = results.length + ' results';

    resultTable.innerHTML = '';
    if (!searchInput.value || !searchInput.value.length) {
      resultTable.classList.add('hidden');
      return;
    }
    for (var i = 0; i < results.length; i++) {
      addResult(resultTable, {
        title: results[i].title,
        description: results[i].content.length < 150 ? results[i].content : (results[i].content.substring(0, 147) + '...'),
        link: results[i].link
      });
    }
    resultTable.classList.remove('hidden');
};

if (!!window.location.search && window.location.search.indexOf('?q=') == 0) {
  searchInput.value = window.location.search.substring(3, window.location.search.length);
  searchInput.oninput();
}
</script>
