<form>
    <div action="search.html" class="navbar-item">
        <label for="searchInput">
            Search
            <span id="resultCounter" class="badge"></span>
        </label>
        <input class="rounded" type="search" name="q" id="searchInput" placeholder="Search...">
    </div>
</form>
<div id="resultTable" class="table table-striped table-condensed hidden">
</div>

<script type="text/javascript">
docsearch({algoliaOptions:{hitsPerPage:20},apiKey:'e8867b9a2e8e3d764d7f29e28c3ae4ab',indexName:'github_antora',inputSelector:'#searchInput'});
</script>
