<div class="toolbar" role="navigation">
    <button class="navigation-toggle"></button>
    {{#if siteRootUrl}}
        <a href="{{siteRootUrl}}" class="home-link{{#if page.home}} is-current{{/if}}"></a>
    {{/if}}
    {{> breadcrumbs}}
    {{> page-versions}}
</div>
