<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="
            http://maven.apache.org/SETTINGS/1.0.0
            https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>ossrh</id>
      <username>${env.OSSRH_USER}</username>
      <password>${env.OSSRH_PASS}</password>
    </server>
    <server>
      <id>github</id>
      <username>${env.GITHUB_USER}</username>
      <password>${env.GITHUB_PASS}</password>
    </server>
    <server>
      <id>jira</id>
      <username>${env.JIRA_USER}</username>
      <password>${env.JIRA_PASS}</password>
    </server>
    <server>
      <id>jetbrains</id>
      <username>${env.JETBRAINS_USER}</username>
      <password>${env.JETBRAINS_PASS}</password>
    </server>
    <server>
      <id>TalendOpenSourceRelease</id>
      <configuration>
        <timeout>30000</timeout>
      </configuration>
    </server>
    <server>
      <id>TalendOpenSourceSnapshot</id>
      <configuration>
        <timeout>30000</timeout>
      </configuration>
    </server>
    <server>
      <id>talend.snapshots</id>
      <username>${env.NEXUS_USER}</username>
      <password>${env.NEXUS_PASS}</password>
      <configuration>
        <timeout>30000</timeout>
      </configuration>
    </server>
    <server>
      <id>talend.oss.snapshots</id>
      <username>${env.NEXUS_USER}</username>
      <password>${env.NEXUS_PASS}</password>
      <configuration>
        <timeout>30000</timeout>
      </configuration>
    </server>
    <server>
      <id>talend.oss.releases</id>
      <username>${env.NEXUS_USER}</username>
      <password>${env.NEXUS_PASS}</password>
      <configuration>
        <timeout>30000</timeout>
      </configuration>
    </server>
    <server>
      <id>talend.snapshots</id>
      <username>${env.NEXUS_USER}</username>
      <password>${env.NEXUS_PASS}</password>
      <configuration>
        <timeout>30000</timeout>
      </configuration>
    </server>
    <server>
      <id>talend.releases</id>
      <username>${env.NEXUS_USER}</username>
      <password>${env.NEXUS_PASS}</password>
      <configuration>
        <timeout>30000</timeout>
      </configuration>
    </server>
    <server>
      <id>talend_nexus_deployment</id>
      <username>${env.NEXUS_USER}</username>
      <password>${env.NEXUS_PASS}</password>
      <configuration>
        <timeout>30000</timeout>
      </configuration>
    </server>
    <server>
      <id>artifactory.datapwn.com</id>
      <username>${env.DOCKER_USER}</username>
      <password>${env.DOCKER_PASS}</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>maven_central_proxy</id>
      <name>Maven Central Proxy</name>
      <url>https://artifacts-zl.talend.com/nexus/content/repositories/central/</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
  </mirrors>

  <profiles>
    <profile>
      <id>ossrh</id>
      <properties>
        <additionalparam>-Xdoclint:none</additionalparam>
        <gpg.executable>gpg</gpg.executable>
        <gpg.defaultKeyring>false</gpg.defaultKeyring>
        <gpg.keyname>${env.GPG_KEYNAME}</gpg.keyname>
        <gpg.passphrase>${env.GPG_PASSPHRASE}</gpg.passphrase>
        <gpg.publicKeyring>${env.HOME}/.gnupg/travis.pub.bin</gpg.publicKeyring>
        <gpg.secretKeyring>${env.HOME}/.gnupg/travis.priv.bin</gpg.secretKeyring>
      </properties>
    </profile>
  </profiles>
</settings>
