<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="
            http://maven.apache.org/SETTINGS/1.0.0
            https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>ossrh</id>
      <username>${env.OSSRH_USER}</username>
      <password>${env.OSSRH_PASS}</password>
    </server>
    <server>
      <id>github</id>
      <username>${env.TLND_GITHUB_USER}</username>
      <password>${env.TLND_GITHUB_PASSWORD}</password>
    </server>
    <server>
      <id>jira</id>
      <username>${env.TLND_JIRA_USER}</username>
      <password>${env.TLND_JIRA_PASS}</password>
    </server>
    <server>
      <id>jetbrains</id>
      <username>${env.JETBRAINS_USER}</username>
      <password>${env.JETBRAINS_PASSWORD}</password>
    </server>
    <server>
      <id>webhost</id>
      <username>${env.WEBHOST_LOGIN}</username>
      <password>${env.WEBHOST_PASS}</password>
    </server>
    <server>
      <id>registry.hub.docker.com</id>
      <username>${env.DOCKER_LOGIN}</username>
      <password>${env.DOCKER_PASSWORD}</password>
    </server>
    <server>
      <id>TalendOpenSourceRelease</id>
      <configuration>
        <timeout>30000</timeout>
      </configuration>
    </server>
    <server>
      <id>TalendOpenSourceSnapshot</id>
      <configuration>
        <timeout>30000</timeout>
      </configuration>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>ossrh</id>
      <properties>
        <additionalparam>-Xdoclint:none</additionalparam>
        <gpg.executable>gpg</gpg.executable>
        <gpg.defaultKeyring>false</gpg.defaultKeyring>
        <gpg.keyname>${env.GPG_KEYNAME}</gpg.keyname>
        <gpg.passphrase>${env.GPG_PASSPHRASE}</gpg.passphrase>
        <gpg.publicKeyring>${env.GPG_DIR}/travis.pub.bin</gpg.publicKeyring>
        <gpg.secretKeyring>${env.GPG_DIR}/travis.priv.bin</gpg.secretKeyring>
      </properties>
    </profile>
  </profiles>
</settings>
