h5 {
    font-weight: bold;
}

.github-fork-ribbon {
    position: fixed !important;
}
.github-fork-ribbon:before, .github-fork-ribbon:after {
    box-sizing: content-box !important;
}

.github-fork-ribbon:before {
  background-color: #B6CC1F !important;
}

.contributors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}
.contributor {
  width: 140px;
}
.contributor:nth-child(1) {
  text-align: center;
}
.contributor-name {
  word-wrap: break-word;
}
.contributor-commits {
  font-style: italic;
}
.contributor-description {
  font-size: x-small;
}

/*
.gallery td.tableblock div.content {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
*/
thead > tr > th {
      color: #495057;
      background-color: #e9ecef;
      border-color: #dee2e6;
}
.gallery td.tableblock > div.imageblock {
    max-width: 400px;
    max-height: 400px;
    padding: 10px;
}
.gallery div.imageblock > div.content > a > img {
    max-width: 400px;
    max-height: 400px;
}
