.Connections {
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	list-style: none;
}
.ConnectionEnd {
	position: relative;
    height: 35px;
	text-align: left;
	width: 100%;

	&:before {
		content: '\274C';
		font-size: 20px;
		color: $brand-blue;
		position: absolute;
		left: -8px;
		top: 5px;
	}
}
