apply plugin: 'nebula.provided-base'
apply plugin: 'org.talend.sdk.component'
apply plugin: 'java'
apply plugin: 'maven-publish'
{{#plugins}}
apply plugin: '{{value}}'
{{/plugins}}

tasks.withType(JavaCompile) {
    sourceCompatibility = {{build.javaVersion}}
    targetCompatibility = {{build.javaVersion}}
    options.compilerArgs << '-parameters'
    options.fork = true
}

{{#imports}}
import {{value}}
{{/imports}}

buildscript {
  repositories {
    mavenLocal()
    mavenCentral()
    maven {
      url "https://plugins.gradle.org/m2/"
    }
  }
  dependencies {
    classpath "com.netflix.nebula:gradle-extra-configurations-plugin:3.0.3"
    classpath "org.talend.sdk.component:gradle-talend-component:{{tckVersion}}"
    {{#buildDependencies}}
    classpath "{{value}}"
    {{/buildDependencies}}
  }
}

repositories {
  mavenLocal()
  mavenCentral()
}

group = '{{build.group}}'
description = '{{build.description}}'
version = '{{build.version}}'

{{#configurations}}{{#first}}
configurations { {{/first}}
    {{value}}{{#last}}
} {{/last}}{{/configurations}}

{{build.packaging}} {
  baseName = '{{build.artifact}}'
  version = '{{build.version}}'
}

test {
  testLogging.showStandardStreams = true
}
{{#tasks}}
{{value}}
{{/tasks}}
{{#javaMainSourceSets.size}}

sourceSets {
  main {
    java {
      {{#javaMainSourceSets}}
      {{value}}
      {{/javaMainSourceSets}}
    }
  }
}
{{/javaMainSourceSets.size}}

repositories {
  mavenCentral()
}

dependencies {
{{#dependencies}}
  {{value.scope}} group: '{{value.group}}', name: '{{value.artifact}}', version: '{{value.version}}'{{#value.type}}, ext: '{{value.type}}'{{/value.type}}{{#value.classifier}}, classifier: '{{value.classifier}}'{{/value.classifier}}
{{/dependencies}}
}

publishing {
  publications {
    mavenJava(MavenPublication) {
      from components.java
    }
  }
  repositories {
    mavenLocal()
  }
}

