package {{package}};

import java.io.Serializable;
{{#datasetName}}

import {{datasetPackage}}.{{datasetName}};
{{/datasetName}}

{{#structure.size}}
import org.talend.sdk.component.api.configuration.Option;
import org.talend.sdk.component.api.configuration.ui.layout.GridLayout;
{{#hasCredential}}
import org.talend.sdk.component.api.configuration.ui.widget.Credential;
{{/hasCredential}}
{{/structure.size}}
import org.talend.sdk.component.api.meta.Documentation;

@GridLayout({
    // the generated layout put one configuration entry per line,
    // customize it as much as needed
 {{#structure}}
    @GridLayout.Row({ "{{value.name}}" }){{^last}},{{/last}}
 {{/structure}}
})
@Documentation("TODO fill the documentation for this configuration")
public class {{className}} implements Serializable {
{{#structure}}
{{#value.isCredential}}
    @Credential
{{/value.isCredential}}
    @Option
    @Documentation("TODO fill the documentation for this parameter")
    private {{value.type}} {{value.name}};

{{/structure}}
{{#structure}}
    public {{value.type}} get{{value.methodName}}() {
        return {{value.name}};
    }

    public {{className}} set{{value.methodName}}({{value.type}} {{value.name}}) {
        this.{{value.name}} = {{value.name}};
        return this;
    }
{{^last}}

{{/last}}
{{/structure}}
}