package {{package}};

import java.io.Serializable;

{{#structure.size}}
import org.talend.sdk.component.api.configuration.Option;
import org.talend.sdk.component.api.configuration.ui.layout.GridLayout;
{{#hasCredential}}
import org.talend.sdk.component.api.configuration.ui.widget.Credential;
{{/hasCredential}}
{{/structure.size}}

@GridLayout({
    // the generated layout put one configuration entry per line,
    // customize it as much as needed
 {{#structure}}
    @GridLayout.Row({ "{{name}}" }){{^-last}},{{/-last}}
 {{/structure}}
})
public class {{className}} implements Serializable {
{{#structure}}
{{#isCredential}}
    @Credential
{{/isCredential}}
    @Option
    private {{type}} {{name}};

{{/structure}}
{{#structure}}
    public {{type}} get{{methodName}}() {
        return {{name}};
    }

    public {{className}} set{{methodName}}({{type}} {{name}}) {
        this.{{name}} = {{name}};
        return this;
    }
{{^-last}}

{{/-last}}
{{/structure}}
}
