# Here you can change all your configuration display names to use more explicit labels
# You can also translate your configuration by adding one file by local Messages_fr.properties for french for example
{{#properties}}
{{value.key}}._displayName={{value.value}}
{{/properties}}