package {{package}};

{{#generic}}
import static java.util.Collections.emptySet;

{{/generic}}
import java.io.Serializable;

import java.util.Collection;
import java.util.Set;

{{#generic}}
import org.talend.sdk.component.api.processor.data.ObjectMap;

{{/generic}}
// this is the pojo which will be used to represent your data
public class {{className}} implements {{#generic}}ObjectMap{{/generic}}{{^generic}}Serializable{{/generic}} {
{{#generic}}
    @Override
    public Object get(final String location) {
        return null;
    }

    @Override
    public ObjectMap getMap(final String location) {
        return null;
    }

    @Override
    public Collection<ObjectMap> getCollection(final String location) {
        return null;
    }

    @Override
    public synchronized Set<String> keys() {
        return emptySet();
    }{{/generic}}{{^generic}}{{#structure}}
    private {{value.type}} {{value.name}};

    public {{value.type}} get{{value.methodName}}() {
        return {{value.name}};
    }

    public void set{{value.methodName}}(final {{value.type}} {{value.name}}) {
        this.{{value.name}} = {{value.name}};
    }
{{/structure}}{{/generic}}
}