// this tells the framework in which family (group of components) and categories (UI grouping)
// the components in the nested packages belong to
@Components(family = "{{family}}", categories = "{{category}}")
@Icon(value = CUSTOM, custom = "{{family}}") // icon is located at {{iconResources}}/{{family}}.svg
package {{package}};

import static org.talend.sdk.component.api.component.Icon.IconType.CUSTOM;

import org.talend.sdk.component.api.component.Components;

