package {{package}};

import java.io.Serializable;

import javax.annotation.PostConstruct;
import javax.annotation.PreDestroy;
{{#generic}}
import javax.json.JsonBuilderFactory;
import javax.json.JsonObject;

{{/generic}}

import org.talend.sdk.component.api.configuration.Option;
import org.talend.sdk.component.api.input.Producer;
import org.talend.sdk.component.api.meta.Documentation;

import {{servicePackage}}.{{serviceName}};

@Documentation("TODO fill the documentation for this source")
public class {{className}} implements Serializable {
    private final {{configurationName}} configuration;
    private final {{serviceName}} service;
{{#generic}}
    private final JsonBuilderFactory jsonBuilderFactory;
{{/generic}}

    public {{className}}(@Option("configuration") final {{configurationName}} configuration,
                        final {{serviceName}} service{{#generic}},
                        final JsonBuilderFactory jsonBuilderFactory{{/generic}}) {
        this.configuration = configuration;
        this.service = service;
{{#generic}}
        this.jsonBuilderFactory = jsonBuilderFactory;
{{/generic}}
    }

    @PostConstruct
    public void init() {
        // this method will be executed once for the whole component execution,
        // this is where you can establish a connection for instance
    }

    @Producer
    public {{#generic}}JsonObject{{/generic}}{{^generic}}{{modelName}}{{/generic}} next() {
        // this is the method allowing you to go through the dataset associated
        // to the component configuration
        //
        // return null means the dataset has no more data to go through
{{#generic}}        // you can use the jsonBuilderFactory to create new JsonObjects.{{/generic}}
        return null;
    }

    @PreDestroy
    public void release() {
        // this is the symmetric method of the init() one,
        // release potential connections you created or data you cached
    }
}