{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            ">0.25%",
            "not op_mini all",
            "IE 11"
          ]
        }
      }
    ]
  ],
  "ignore": [
    "**/**/*.css"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ]
}
